.menu{
    position: relative;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    background: #F36B7F;
    color: white;
}

.menu>ul {
     list-style-type: none;
     margin: 0;
     padding: 20px;
     overflow: hidden;
      }
      
.menu>ul>li  {
     float: left;
     padding: 10px;
     background-color: #F36B7F;
     font-family: 'Saira Condensed', sans-serif;
}
.menu>ul>li>a:hover {
    font-size: 18px;
    color: #f0fff0;
}
a:link {
    color:#f0fff0;
    text-decoration:none;
  }
  a:visited {
    color:#f0fff0;
    text-decoration:none;
  }
