.menu{
    position: relative;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    background: #F36B7F;
    color: white;
}

.menu>ul {
     list-style-type: none;
     margin: 0;
     padding: 20px;
     overflow: hidden;
      }
      
.menu>ul>li  {
     float: left;
     padding: 10px;
     background-color: #F36B7F;
}
.menu>ul>li>a:hover {
    font-size: 25px;
}
.custom-shape-divider-bottom-1632187860 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632187860 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1632187860 .shape-fill {
    fill: #F36B7F;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.vermelho{
     background: #F36B7F;
}
.branco{
    background: white;
}



